<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <div class="item">
        <div class="info">
            <h2>About Me</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Vero obcaecati nostrum delectus nulla repellendus voluptatum?
                Consectetur fugiat reiciendis fuga? 
                Expedita enim eius libero a repellendus quia tempora, possimus velit ullam?
            </p>
        </div>
       <img src="/shop/images/aboutus.jpg" alt="company">
    </div>
  
</body>
</html>